/**
 * @name Discord 11
 * @description Based on Windows 11's UI, fixed by agentseed
 * @author zuzumi
 * @authorId 437579806616322049
 * @version 3.1.2
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/hurtyoutube
 * @website https://github.com/zuzumi-f
 * @source https://github.com/zuzumi-f/Discord-11/blob/main/base.css
*/
@import url(https://agentseeed.org/css/discord11.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
@import url(https://zuzumi-f.github.io/Discord-11/release/font/windows11font.css);
@import url(https://zuzumi-f.github.io/Discord-11/release/messagebubble11.css);
@import url(https://zuzumi-f.github.io/Discord-11/release/glasseffect.css);
:root {
    --wallpaper-is: url(https://agentseed.org/ranbg?color=purple) !important; /* change the 'purple' to whichever color suits your discord best, this will fetch a random (grainy gradient) background image from my server. currently supported colors: blue, green, purple, red */
    --blur-size: 10px !important;
    --opacity-thing: 0.6 !important;
    --server-size: 69px !important;
    --H: 320 !important;
    --S: 88% !important;
    --L: 45% !important;
    --background-primary: transparent !important;
    --background-secondary: transparent !important;
    --background-tertiary: transparent !important;
    --windark4: #00000000 !important; /* #0000003f */
    --background-mentioned: hsla(var(--H), var(--S), var(--L), 10%) !important;
}
