/**
 * @name Discord 11
 * @description Based on Windows 11's UI
 * @author zuzumi
 * @authorId 437579806616322049
 * @version 3.1
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/hurtyoutube
 * @website https://github.com/zuzumi-f
 * @source https://github.com/zuzumi-f/Discord-11/blob/main/base.css
*/
@import url(https://zuzumi-f.github.io/Discord-11/base.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
@import url(https://zuzumi-f.github.io/Discord-11/release/font/windows11font.css);
@import url(https://zuzumi-f.github.io/Discord-11/release/messagebubble11.css);
@import url(https://zuzumi-f.github.io/Discord-11/release/glasseffect.css);
:root {
    --wallpaper-is: url(https://agentseed.org/gradbgs/002.png);
    --blur-size: 10px;
    --opacity-thing: 0.6;
    --server-size: 69px;
    --H: 320;
    --S: 88%;
    --L: 45%;
    --background-secondary: transparent !important;
    --background-tertiary: transparent !important;
    --windark4: #00000000; /* #0000003f */
    --background-mentioned: hsla(var(--H), var(--S), var(--L), 10%)
}
.chatContent-3KubbW, .root-22AK9z, .callContainer-HtHELf, .wrapper-1gVUIN, .root-3J4La5, .customContainer-dK1ozq, .customScroller-m1-jZn, .contentRegionScroller-2_GT_N, .auto-2TJ1RH, .scrollerBase-1Pkza4, .chatContainer-2XIz4Y, .chatContent-2O4SXb, .messagesWrapper-RpOMA3 {
    background: transparent !important;
}
.childWrapper-1j_1ub, .button-Jt-tIg {
    background: var(--blue-button-bg) !important;
}
#app-mount {
    background: var(--wallpaper-is);
    background-size: cover;
}
.chatContent__5dca8, .container_ca50b9, .themed_b152d4, .container__11d72, .shop_b31ed2, .panels__58331 {
    background: transparent !important;
}
.scrollableContainer__33e06, .themedBackground__6b1b6, .webkit__8d35a, .container__7c79d, .nonMediaAttachmentsContainer_ca7b77, .embedWrapper_c143d9, .embedFull__8dc21, .embed_d3cbe3 {
    background: #0000003f;
    backdrop-filter: blur(var(--blur-size));
}
.mentioned__58017, .zalgo__39311:hover, .container__7c79d, .container__7c79d:hover, .nonMediaAttachmentsContainer_ca7b77, .modeSelected__487d6 {
    backdrop-filter: blur(var(--blur-size));
    border-radius: 10px !important;
}
.channel_c21703, .container__8759a {
    display: hidden;
}
.zalgo__39311:hover {
    background-color: #0000003f !important;
}
.container__7c79d, .modeSelected__487d6, .reaction_fef95b {
    backdrop-filter: blur(var(--blur-size));
}
